body {
  background-color: #e6ccb2;
  display: flex;
  justify-content: center;
}

.appUI {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "header header header . contactInfo"
    "experience experience experience . education"
    "experience experience experience . skillsMisc";
  background-color: #ede0d4;
}

.contactInfo{
  grid-area: contactInfo;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.education {
  grid-area: education;
}

.experience {
  grid-area: experience;
} 

.header{
  padding-left: 20px;
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sectionContainer button {
  position: absolute;
  top: 0px;
  right: 0px;
}

.skillsMisc {
  grid-area: skillsMisc;
}

.sectionContainer {

 position: relative;
}